<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Card</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #f0f0f0; padding: 20px;">
        <tr style="background-color: #ffffff;">
            <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="600" style="background-color: #ffffff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); border-radius: 8px;">
                    <tr>
                        <th style="background-color: #ffffff; text-align: center; padding: 20px;">
                        
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGS_Zkk3Q8cyXMxaO0DoQf5aa4wEHtDVbF0mg47D5G-g&s" alt="Left Logo" style="max-width: 100px; height: auto; float: left;">
                        </th>
                        <th>
                            <h1 style="margin: 0;">College of Agricultural Information Technology</h1>
                        </th>
                        <th>
                            <img src="https://gcdnb.pbrd.co/images/mPjgS9a7XsaD.png?o=1" style="max-width: 140px; height: 100px; float: right;">
                        </th>
                    </tr>    
            </td>
        <hr>
        <tr>
                        <td style="background-color: #ffffff; padding: 20px;">
                       
                        
                       
                        <p class="mb-4"><h3 style="color: green;"></h3></p>
                        <h2>Your Verification Code for Login Code Reset:</h2> 
                        <p><strong>Code:</strong> <span style="background-color:green;color:white;border-radius: 10px;padding: 2px 5px 2px 5px "> {{code}}</span></p>  
                        <p>If this was not initiated by you, contact our support <a href="mailto:yashpatel3740@student.aau.in?subject=Unauthorised%20Password%20Reset%20Request&body=I%20am%20concerned%20about%20the%20security%20of%20my%20account%20and%20wanted%20to%20bring%20this%20matter%20to%20your%20attention.%20I%20did%20not%20initiate%20the%20password%20reset%20and%20I%20have%20not%20requested%20any%20changes%20to%20my%20account%20credentials.%0A%0APlease%20investigate%20this%20issue%20and%20take%20appropriate%20actions%20to%20ensure%20the%20security%20of%20my%20account%20and%20the%20integrity%20of%20our%20system.%20If%20you%20need%20any%20further%20information%20from%20me%2C%20please%20don't%20hesitate%20to%20ask.%0A%0AThank%20you%20for%20your%20prompt%20attention%20to%20this%20matter.%20I%20appreciate%20your%20assistance%20in%20resolving%20this%20situation.">here</a> </p>
                        
                    </td>
        </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
